@{
    Layout = "_layout";
    ViewData["Title"] = "Admin Page";

}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" id="selectAll"> <input type="checkbox" /> </th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created</th>
            <th scope="col">Last Logged In</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        @RenderBody()
    </tbody>
</table>